body {
  background-color: #BBDEFB;
  margin: 0 auto;
  padding: 0;
  text-align:center;
}

#page_body {
  font-family: 'Titillium Web', sans-serif;
}

#title {
  font-size: 90px;
  font-family: 'Lobster', cursive;
}

h2 {
  font-size: 30px;
}

#button_div {
  font-size: 20px;
}

.icon {
  font-size: 5em;
}

.feature_title {
  font-weight: bold;
  font-size: 20px;
}