<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Discover Suggestions</title>
    <link href="bootstrap.css" rel="stylesheet">
    <script src="underscore-min.js"></script>
    <script src="jquery.min.js"></script>
    <script src="backbone-min.js"></script>
  </head>
  <body>
  <script type="text/template" id="suggestion_template">
  <p>URL: <a href="<%= actualURL %>"><%= actualURL %></a></p>
  <button class="yes">Yes</button>
  <button class="no">No</button>
  <br>
  </script>
  <h1>Suggested Websites</h1>
  <div id="suggestions_container">
  </div>

  <script src="custom.js"></script>
  </body>
</html>