<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Discover Suggestions</title>
    <link href="bootstrap.css" rel="stylesheet">
    <link href="custom.css" rel="stylesheet">
    <script src="underscore-min.js"></script>
    <script src="jquery.min.js"></script>
    <script src="backbone-min.js"></script>
  </head>
  <body>

  <img src="loader.gif" id="loader">

  <div class="container">

  <script type="text/template" id="suggestion_template">
  <h4><a href="<%= actualURL %>"><%= title %></a></h4>
  <p>URL: <a href="<%= actualURL %>"><%= actualURL %></a></p>

  <div class="recommend_question">
  <p>Would you recommend this link?</p>
  <button class="yes btn btn-primary">Yes</button>
  <button class="no btn btn-danger">No</button>
  </div>

  <div class="shared_question" style="display:none">
  <p>Have you already shared this link on other social media?</p>
  <button class="yes btn btn-primary">Yes</button>
  <button class="no btn btn-danger">No</button>
  </div>

  <br><br>
  </script>

  <h1>Suggested Websites</h1>
  <div id="suggestions_container">
  </div>

  </div>

  <script src="custom.js"></script>
  </body>
</html>